In [1]:
import numpy as np


A structured array in NumPy is an array where each element (or "record") can contain multiple fields of different data types. This allows you to store heterogeneous data (e.g., strings, integers, floats) in a single array, which is useful for tasks like working with tabular data, similar to a spreadsheet or a database record.

In [15]:
#create a strcutured array of name age and height
#U10:

# U stands for Unicode string.
# 10 is the maximum number of characters in the string (i.e., the string will have a length of 10 characters).
# This is used to store text data (strings).
# i4:

# i stands for integer.
# 4 indicates that the integer is stored in 4 bytes (32 bits).
# This is used to store integer values (e.g., int32).
# f4:

# f stands for floating point.
# 4 indicates that the number is stored in 4 bytes (32 bits).
# This is used to store floating-point values (e.g., float32)
my_data_type = [('name','U12'),('age','i4'),('height','f4')]
array  = np.array([("jibran",20,58)],dtype=my_data_type)
print(array.dtype)

[('name', '<U12'), ('age', '<i4'), ('height', '<f4')]

In [18]:
data = [("x", "i4") , ("y","i4") ,("RGB","i2")]
array  = np.array([(4,3 , 255),(10,2 , 100)],dtype=data)
print(array)

[( 4, 3, 255) (10, 2, 100)]

52. Consider a random vector with shape (100,2) representing coordinates, find point by point distances

[ 1.  2.  3.  4.  5.  6. nan nan  7.  8. nan  9. 10. 11.]

1, 2, 3, 4, 5
6,  ,  , 7, 8
 ,  , 9,10,11

In [75]:
# dealing with missing data in files ,
with open("demo.txt","w") as f:
  data = np.array([1, 2, 3, 4, 5, 6, np.nan, np.nan, 7, 8, np.nan, 9, 10, 11])
  np.savetxt(f,data,fmt="%s")# save as string useful for nan,as we 9 it has converted into string
def reader():
  with open("demo.txt","r") as f:
    data  = np.loadtxt(f)
    mask =  ~np.isnan(data)
    new_data  = data[mask]
    return new_data.astype(int)
reader()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])